name: Reproduce binary

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".goreleaser.yml"
      - ".github/workflows/reproduce-binary.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".goreleaser.yml"
      - ".github/workflows/reproduce-binary.yml"

  workflow_dispatch: {}

jobs:
  reproduce-binary:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/reproduce-binary.yml@master
    with:
      extra-build-flags: "-ldflags=-s -w -X main.version=devel"
