name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

  workflow_dispatch: {}

jobs:
  race-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      # the test is compiled and run as root so that egress eddie can
      # open nfqueues, which is a privileged operation
      - run: |
          go test -c -race -o egress-eddie.test
          sudo ./egress-eddie.test -enable-ipv6=false -test.timeout 5m -test.v

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  binary-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      # run the same tests as above but use a binary to process packets
      # to test with landlock and seccomp filters active
      - name: Run binary tests
        run: |
          set +e

          CGO_ENABLED=0 go build -o ./egress-eddie ./cmd/egress-eddie
          go test -c -o egress-eddie.test
          sudo ./egress-eddie.test -binary-tests -enable-ipv6=false -test.timeout 5m -test.v -test.failfast
          # shellcheck disable=SC2181
          if [[ $? -ne 0 ]]; then
            echo "Syscall trace:"
            cat trace.txt
            exit 1
          fi

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  fuzz:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1
        with:
          cache-fuzz-corpus: true

      - run: |
          go test -fuzz Fuzz -run Config -fuzztime 10m

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1
        with:
          cache-fuzz-corpus: true
